#game
    i
        font-size: px2rem(35)
        padding: px2rem(40) 0 
        line-height: px2rem(50)
        position: relative
        &::after,
        &::before
            font-size: px2rem(80)
            line-height: px2rem(80)
            display: block
            position: absolute
        &::after,
            content: "”"
            bottom: -px2rem(48)
        &::before
            content: "“"
            top: 0

    .screen
        position: relative
        min-height: 100vh

    .close 
        cursor: pointer
        position: absolute
        top: 20px
        right: 20px
        border-radius: 50%
        transition: all 200ms
        text-decoration: none
        text-align: center
        @include icon-block('close')

    .popin
        display: none
        position: absolute
        left: 30px
        right: 30px
        bottom: 30px
        margin: 0 auto
        justify-content: center
        flex-direction: column
        z-index: 10
        &.is-opened
            display: flex
            max-width: 600px
        &:not(.popin--offcanvas)
            @include media-breakpoint-down(desktop)
                left: 0
                right: 0
                bottom: 0
            &::before
                content: ''
                display: block
                background-image: url(/assets/images/coin/coin.png)
                background-size: 100% 100%
                width: 40px
                height: 40px
                position: absolute
                top: -18px
                left: 18px
                z-index: 4
        &--offcanvas
            background: white
            overflow-y: auto
            inset: 0px
            &.is-opened
                display: block
            @include media-breakpoint-down(desktop)
                inset: 15px
                display: none
                &.is-opened
                    display: block
            @include media-breakpoint-up(desktop)
                display: block
                max-width: 600px
                width: 60%
                top: 0
                bottom: 0
                left: auto
                right: 0
                transform: translateX(100%)
                &.is-opened
                    transform: translateX(0)

    .popin--offcanvas
        .blocks
            .container
                padding-left: 0
                padding-right: 0