@keyframes bitcoin-shake
    0%, 100%, 15%, 25%, 35%
        transform: translate(0, 0) rotate(0deg)
    2.5%, 12.5%, 22.5%
        transform: translate(2px, 0px) rotate(7deg)
    5%, 15%, 25%
        transform: translate(0, 0) rotate(0eg)
    7.5%, 17.5%, 27.5%
        transform: translate(-2px, 0px) rotate(-7deg)

#game
    .coins
        display: flex
        position: fixed
        top: 30px
        left: 30px
        z-index: 5
        font-size: px2rem(20)
        line-height: px2rem(28)
        font-weight: bold
        color: white
        .coin
            cursor: pointer
            width: 30px
            height: 30px
            margin-right: 10px
            background-image: url('/assets/images/jouer/bitcoin-plat.png')
            background-size: contain
            background-repeat: no-repeat
    .definition
        @include small
        color: white
        background: black
        padding: 1.3rem 1.5rem 0
        max-height: 70vh
        overflow-y: auto
        border-bottom: 4rem solid black
        .action
            background: black
            bottom: 0
            border: none
            font-size: px2rem(14)
            left: 0
            padding: 10px 20px 20px
            position: absolute
            width: 100%
            .pick
                align-items: center
                background: none
                border: none
                color: inherit
                cursor: pointer
                display: flex
                float: right
                text-decoration: underline
                text-decoration-color: rgba(255, 255, 255, 0.7)
                text-underline-offset: 0.3rem !important
                &::after
                    animation: bitcoin-shake 2.7s infinite
                    content: ''
                    background-image: url(/assets/images/jouer/bitcoin-plat.png)
                    background-size: 100% 100%
                    height: 30px
                    margin-left: 10px
                    width: 30px
        h2
            @include h3
            text-align: left
            margin-bottom: $spacing0
