h1, .h1
    color: $color-accent
    line-height: 100%
    text-align: center

h2, .h2
    color: $color-accent

h3, .h3
    font-style: italic
    font-weight: normal

header#document-header
    position: relative
    padding-top: $spacing3
    nav
        .container
            // Alice (logo) centered
            justify-content: center
    button
        // No menu
        display: none !important
.hero
    min-height: auto
    margin: 0
    padding: 0
    .container
        margin-top: 0
        padding-top: 0
        .content
            padding-top: 0
            h1,
            hgroup
                // No cols
                width: 100%
            .lead
                font-style: italic
                text-align: center

.breadcrumb-nav
    display: none


.toc-content
    .toc-title
        display: none

.blocks
    .block
        .top
            margin-bottom: 0
            .block-title
                text-transform: none
                font-weight: bold
        &-call_to_action 
            .call_to_action 
                .description
                    p
                        @include lead-hero
                        font-weight: normal
                        margin: 0
        &-partners
            .top
                margin: 0
            .organization
                .media
                    background: none
                h3
                    display: none
