<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/css.html" }}
    {{ partial "head/seo.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/rss.html" . }}
    {{ partial "head/script.html" . }}
    {{ partial "head/extras.html" . }}
  </head>
  <body class="{{ partial "GetBodyclass" . }}">
      <div class="screen game" id="game">
        <div class="definitions">
          {{ with site.GetPage "/pages/definitions" }}
            <ul>
              {{ range .Params.contents }}
                {{ if eq .template "chapter" }}
                  <li class="popin" id="{{ urlize .title }}">
                    <article class="definition">
                      <h2 class="h1">{{ .title }}</h2>
                      {{ with .data}}
                        {{ safeHTML .text  }}
                      {{ end }}
                      <a class="pick">Ramasser</a>
                    </article>
                  </li>
                {{ end }}
              {{ end }}
            </ul>
          {{ end }}
        </div>
    
        <div class="cities">
          <ul>
            {{ with site.GetPage "/pages/villes" }}
              {{ range .Pages }}
                <li class="popin popin--offcanvas" id="{{ .Params.slug }}">
                  <button class="close"></button>
                  <div class="city">
                    {{ partial "commons/image.html"
                      (dict
                        "image"    .Params.image
                        "sizes"    site.Params.image_sizes.design_system.hero
                        "lazy"     false
                      ) }}
                    <div class="content">
                      <h2 class="h1">{{ .Title }}</h2>
                      <h3>{{ .Params.summary }}</h3>
                      {{ partial "blocks/list" . }}
                    </div>
                  </div>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>

        <div class="trolls">
          {{ with site.GetPage "/pages/trolls" }}
            {{ range $index, $troll := .Params.contents }}
              {{ partial "PrepareHTML" $troll.data.text }}
            {{ end }}
          {{ end }}
        </div>
    
        <div class="game-ui">
          <div class="coins">
            <div class="coin"></div>
            <div class="coins__picked">0</div> /
            <div class="coins__total">0</div>
          </div>
        </div>
      </div>
    </main>
    <audio src="/assets/sounds/coin.mp3" id="sound-coin">
    <audio src="/assets/sounds/city.mp3" id="sound-city">
    <audio src="/assets/sounds/step-l.mp3" id="sound-step-l">
    <audio src="/assets/sounds/step-r.mp3" id="sound-step-r">
    <audio src="/assets/sounds/troll-1.mp3" id="sound-troll-1">
    <audio src="/assets/sounds/troll-2.mp3" id="sound-troll-2">
    <audio src="/assets/sounds/troll-3.mp3" id="sound-troll-3">
    <audio src="/assets/sounds/troll-3.mp3" id="sound-troll-4">
    <audio src="/assets/sounds/troll-3.mp3" id="sound-troll-5">

    {{- partial "footer/plausible.html" . -}}

    {{ $js := resources.Get "js/game-app.js" | js.Build (dict "minify" hugo.IsProduction) | fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

    {{- if not hugo.IsProduction -}}
      {{- partial "footer/debug.html" . -}}
    {{- end -}}
  </body>
</html>
