{{ define "main" }}
  {{ partial "pages/hero.html" . }}

  <div class="document-content">
    <div class="blocks">
      {{ with site.GetPage "/pages/villes" }}
        {{ range .Pages }}
          <div class="heading container" id="{{ .Title | urlize }}">
            <h2>{{ .Title }}</h2>
          </div>
          <h3>{{ .Params.summary }}</h3>
          {{ partial "commons/image.html"
            (dict
              "image"    .Params.image
              "sizes"    site.Params.image_sizes.design_system.hero
              "lazy"     true
            ) }}
          {{ partial "contents/list.html" . }}
        {{ end }}
      {{ end }}
      {{ with site.GetPage "/pages/definitions" }}
        <div class="heading container" id="{{ .Title | urlize }}">
          <h2>{{ .Title }}</h2>
        </div>
        {{ partial "contents/list.html" . }}
      {{ end }}
      {{ with site.GetPage "/pages/trolls" }}
        <section class="trolls">
          <div class="heading container" id="{{ .Title | urlize }}">
            <h2>{{ .Title }}</h2>
          </div>
          <p>{{ .Params.summary }}</p>
          {{ partial "contents/list.html" . }}
        </section>
      {{ end }}
    </div>
  </div>
{{ end }}
