{{ partial "footer/i18n.html" . }}
<div class="container">
  <p>Cette expérience interactive a été conçue par Etienne et Arnaud. La direction artistique et la production graphique sont l'œuvre d'Etienne, avec l'aide de Perrine Joly. Les images ont été créées avec l’outil Midjourney. Le code JavaScript a été écrit par Alexis Benoit et l'intégration HTML a été faite par Cléo Laffargue. Les textes sont d'Arnaud Levy, à l'exception des phrases des crypto-trolls, qui sont toutes de vraies phrases, collectées sur Twitter et LinkedIn. Respect et gratitude à Aurore Lalucq, qui a subi ces insultes lamentables en travaillant pour l'intérêt général.</p>
  <div class="footer-social">
    {{ partial "footer/social.html" }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
  </div>
</div>

  